### Question 1 

* Addition of two numbers in python ( input 2 numbers and add them)

In [17]:
num1 = int(input('Enter the first number : '))
num2 = int(input('Enter the second number : '))
print()

def sum1(a,b) : 
    return a+b 


answer = sum1(num1,num2)

print(f"Sum of {num1} and {num2} = {answer}")

Enter the first number : 1
Enter the second number : 2

Sum of 1 and 2 = 3

---
### Question 2 : 

* Take n number of input and add them :

In [ ]:
numbers = input('Enter the numbers (comma separated) : ')


numbers = [int(num) for num in numbers.split(',')]  #convert in to list


def addition(numbers) : 
    return sum(numbers)
        


print(addition(numbers))

---
### Question 3 

* Calculate simple interest 
* 
        
            Formula :
            Simple Interest  =  princlple Amount *  Rate of Interest * Time

In [ ]:
principle_amount = int(input('Enter the principle amt : '))
roi = float(input('Enter the ROI (with %) : '))/100
time = int(input('Enter the time period in year : '))
print()


def si(principle_amount,roi,time) : 
    return (principle_amount * roi * time)


si = si(principle_amount,roi,time)

---
### Question 4 

* Check the number odd or even

In [10]:
num = int(input('Enter the number : '))
print()

def check_odd_even(num) : 
    
    if num % 2 == 0 : 
        return 'number is even !'
    
    else : return 'number is odd'



answer = check_odd_even(num)

print(answer)

Enter the number : 56

number is even !

---
### Question 5 : 

* Check number is divisible by 5 or not

In [11]:
num = int(input('Enter the number : '))
print()

def check_5(num) : 
    
    if num % 5 == 0 : 
        return 'number is div by 5 !'
    
    else : return 'number is not div by 5'



answer = check_5(num)

print(answer)

Enter the number : 45

number is div by 5 !

--- 
### Question 6

* Check year is leap year or not
* An year is said to be leap year if it divisible by 4 and not divisible by 100,
  with an exception that it is divisible by 400.

In [17]:
year = int(input('Enter the year : '))

def check_leap(year) :
     
    #logic
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 : 
        return f"{year} is leap year"
    
    else : 
        return f"{year} is not leap year"
    
    
    

print(check_leap(year))

Enter the year : 1996
1996 is leap year

--- 
### Question 7 : Print the number of days in a month for particular year
    

         Take the number value of month  as input and display numbers of days in it
         logic :
        1	January   Jan	31
        2	February  Feb	28 (29 in leap years)
        3	March     Mar	31
        4	April     Apr	30
        5	May       May	31
        6   June      Jun	30
        7	July      Jul	31
        8	August    Aug	31
        9	September Sep	30
        10	October   Oct	31
        11	November  Nov	30
        12	December  Dec	31

In [23]:
month = int(input('Enter the month (1-12) : '))
year =  int(input('Enter the year : '))


months_31  = [1,3,5,7,8,10,12]

def check_leap(year) :
     
    #logic
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 : 
        return True
    
    else : 
        return False

def check_month_days(month,year) : 
    
    if month in months_31 :
        return f"{month} month has 31 days"
    
    elif month == 2 : 
        
        #check if leap year or not         
        if check_leap(year) : 
            
            return f"{month} month has 29 days"
        
        else : return f"{month} month has 28 days"
        
    else : f"{month} month has 30 days"

check_month_days(month,year)

Enter the month (1-12) : 2
Enter the year : 2023

'2 month has 28 days'

---
### Question 8 : 

* Find the greatest amoung 3 number

In [31]:
numbers  = input("Enter the 3 numbers : ")

numbers = [int(num) for num in numbers.split(',')]

# approach 1 
def find_greater_number(numbers) : 
    
    numbers.sort(reverse =  True)
    
    return numbers[0]


# approach 2
def find_greater_number(numbers) : 
    
    high = numbers[0]
    for num in numbers[1:] : 
        if num > high : 
            high = num 
    
    return high


find_greater_number(numbers)

Enter the 3 numbers : 5,6,3

6

--- 
### Question 9 : 

* Print 3 words in dictionary order

In [ ]:
# approach 1 : 

w1 = input("Enter the 1st word :")
w2 = input("Enter the 2nd word :")
w3 = input("Enter the 3rd word :")

# get the min of 3 words 
x= min(w1,w2,w3)

if x == w1 : 
    print(x, min(w2,w3),max(w2,w3))
    
elif x == w2 : 

    print(x, min(w1,w3),max(w1,w3))
else : 
    print(x, min(w2,w1),max(w1,w2))

In [60]:
# approach 2 : 

words = list(input('Enter the words (comma seperated) : ').split(','))

words.sort()
print(words)

Enter the words (comma seperated) : nawal,avi,amyur
['amyur', 'avi', 'nawal']

In [ ]:
s = []

s =