### Question 1 : 
*** 

- Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). 

- The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000,3200+1) :
    if i % 7 == 0 and i%5 != 0 : 
        print(i,end =',')

***
### Question 2 : 


- Create a method called twelver that accepts 2 integer arguments: a and b.
- The method should return True if one of the arguments is 12
  or if the sum of both arguments equals 12.

- twelver(3, 12) → True
- twelver(4, 9) → False
- twelver(9, 3) → True

In [ ]:
def twelver(a,b) : 
    
    if a == 12 or b == 12 or (a+b) == 12  :
        return True
    else :
        return False
  
a = 3
b = 3
twelver(a,b)

***
### Question 3 : 

- Given a list of ints, return True if the sequence of numbers 1, 2, 3 appears in the list anywhere, false otherwise.


    sequence([1, 1, 2, 3, 1]) → True

    sequence([1, 1, 2, 4, 1]) → False

    sequence([1, 1, 2, 1, 2, 3]) → True

    sequence([1, 2]) → False

    sequence([]) → False

In [ ]:
def sequence(lst) : 
    
    for i in range(len(lst)-2) : 
        if lst[i] == 1 and lst[i+1] == 2 and lst[i+2] == 3 : 
            return True
    else : 
        return False


lst = [2,3]
lst = [1, 1, 2, 1, 2, 3]
lst =[]
sequence(lst)

*** 
### Assignment 4

* Create a method called pay_extra that accepts 2 parameters: working, and hour. 
* This method will be used to decide whether an employee will receive extra pay or not. 
* If an employee is working during the hrs of 8pm until 8am in the morning, that means they should be paid extra.
* In that situation the method should return true, otherwise it should return false.
* NOTE: the hour parameter should be from 0-23.
        So 8AM is hour 8, and 8PM is hour 20.
* Example:
    - pay_extra(True, 11) -> false
    - pay_extra(False, 5) -> false
    - pay_extra(True, 6)  -> true

In [ ]:
def pay_extra(working,hour) : 
    
    return  (hour <= 8 or hour > 20) and working == True

pay_extra(True,6)

***
###  Assignment 5

- Given a non-empty string like "Code" return a string like "CCoCodCode".

- Example :
  - grow_string('Code') → 'CCoCodCode'
  - grow_string('abc') → 'aababc'
  - grow_string('ab') → 'aab'

In [47]:
def grow_string(string) : 
    
    s = ""
    for i in range(len(string)) : 
        s = s + string[0:i+i] # tranverse whole string 
    
    return s


string = 'Code'
string = 'aab'
string = "a"
string = 'abc'
grow_string(string)

'ababc'

***
### Assignment 6

- Define a method that accepts a list as an argument and returns True if one of the first_folder 4 elements
  in the list is a 6. The list length may be less than 4.
- Example : 
    - first3([1, 2, 6, 3, 4]) → True
    - first3([1, 2, 3, 4, 6]) → False
    - first3([1, 2, 3, 4, 5]) → False

In [50]:
def first4(lst) : 
    
    return 6 in lst[:4]

lst = [1,2,3,4]
first4(lst)

False

***
### Assignment 7 :

- Create a function called last2 that accepts a string argument.
- The function should return the count of the number of times that the last
   2 characters appear in the rest of the string. You should not count
      the last 2 characters as an occurrence. The last 2 characters is just the
      sequence your function should look for in the remaining string.
- So "hixxxhi" yields 1 (we won't count the end substring).
- Example : 
    - last2('hixxhi') → 1
    - last2('xaxxaxaxx') → 1
    - last2('axxxaaxx') → 2

In [ ]:
def last2(string): 
    
    # first get last 2 characters : 
    last = string[-2:]
    count = 0 
    for i in range(len(string)-2) : 
        if last  == string[i:i+2] : 
            count = count + 1
        
    return count
            


string = 'hixxhi'
string = 'xaxxaxaxx'
string = 'axxxaaxx'
last2(string)

***
### Assignment 8


- Given 2 strings, a and b, return the number of the positions where
       they contain the same length 2 substring. So "xxcaazz" and "xxbaaz"
       yields 3, since the "xx", "aa", and "az" substrings appear in the same
       place in both strings.
       
- EXAMPLE:
 - string_match('xxcaazz', 'xxbaaz') → 3
 - string_match('abc', 'abc') → 2
 - string_match('abc', 'axc') → 0

In [ ]:
#approach 1 : 
def string_match(str1,str2) : 
    
    lst1 = []
    lst2 = []
    for i in range(len(str1)-1) : 
        lst1.append(str1[i : i+2])
        
    for i in range(len(str2)-1) : 
        lst2.append(str2[i:i+2])
    
    return len(set(lst1).intersection(lst2))
        

#approach 2 : 
def string_match(str1,str2) : 
    
    # save the smaller one in separate variable
    small =  str1 if len(str1) < len(str2) else str2
    
    c = 0 
    for i in range(len(small)-1) : 
        if small[i : i+2] in str1 : 
            c = c +1
    
    return c

str1 = 'xxcaazz'
str2 = 'xxbaaz'

string_match(str1,str2)

*** 
### Assignment  9


- Return the sum of the numbers in the list, except ignore sections of numbers starting with a 7 and extending to the next 8
  (every 7 will be followed by at least one 8).
- Return 0 for no numbers.
- EXAMPLE:
 - sum78([1, 2, 2]) → 5
 - sum78([1, 2, 2, 7, 99, 99, 8]) → 5
 - sum78([1, 1, 7, 8, 2]) → 4

In [101]:
def sum78(lst) : 
    
    add = 0
    flag = True 
    
    for item in lst : 
        if flag == True and item not in [7,8] : 
            add = add + item
        
        elif item == 7 : 
            flag = False
        
        elif item == 8 : 
            flag = True

    return add


lst = [1, 1, 7, 8, 2]
sum78(lst)

4

***
### Assignment 10 : 

- We have 2 variables. fr and d. fr is a list of strings and d is a dictionary with email addresses as keys and numbers as values (numbers in string format).
- Write code to replace the email address in each of the strings in the fr list withthe associated value of that email looked up from the dictionary d.
- If the dictionary does not contain the email found in the list, add a new entryin the dictionary for the email found in the fr list. The value for this new email key will be the next highest value number in the dictionary in string format.
- Once the dictionary is populated with this new email key and a new number value,
- replace that email's occurrence in the fr list with the number value.
- The output of running your completed code should be the following:
  - Value of fr: ['199|4|11|GDSPV', '199|16|82|GDSPV', '205|12|82|GDSPV', '206|19|82|GDSPV']
  - Value of d: {'7@comp1.COM': '199', '8@comp4.COM': '200', '13@comp1.COM': '205', '26@comp1.COM': '206'}



### Output : 
    fr = [
    '7@comp1.COM|4|11|GDSPV',
    '7@comp1.COM|16|82|GDSPV',
    '13@comp1.COM|12|82|GDSPV',
    '26@comp1.COM|19|82|GDSPV'
    ]

    d= {
    '7@comp1.COM': '199',
    '8@comp4.COM': '200',
    '13@comp1.COM': '205'
    }

In [157]:
fr = ['199|4|11|GDSPV', '199|16|82|GDSPV', '205|12|82|GDSPV', '206|19|82|GDSPV']
d = {'7@comp1.COM': '199', '8@comp4.COM': '200', '13@comp1.COM': '205', '26@comp1.COM': '206'}


for i,item in enumerate( fr) : 
    num = str(item.split('|')[0])
    
    #get key from value : VVIMP 
    key = list(d.keys())[list(d.values()).index(num)]
    
    
    # replace with key 
    item = item.replace(num,key)
    
    fr[i] = item
    
fr

['7@comp1.COM|4|11|GDSPV',
 '7@comp1.COM|16|82|GDSPV',
 '13@comp1.COM|12|82|GDSPV',
 '26@comp1.COM|19|82|GDSPV']