### Question 1 

* Addition of two numbers in python ( input 2 numbers and add them)

In [17]:
num1 = int(input('Enter the first number : '))
num2 = int(input('Enter the second number : '))
print()

def sum1(a,b) : 
    return a+b 


answer = sum1(num1,num2)

print(f"Sum of {num1} and {num2} = {answer}")

Enter the first number : 1
Enter the second number : 2

Sum of 1 and 2 = 3

---
### Question 2 : 

* Take n number of input and add them :

In [ ]:
numbers = input('Enter the numbers (comma separated) : ')


numbers = [int(num) for num in numbers.split(',')]  #convert in to list


def addition(numbers) : 
    return sum(numbers)
        


print(addition(numbers))

---
### Question 3 

* Calculate simple interest 
* 
        
            Formula :
            Simple Interest  =  princlple Amount *  Rate of Interest * Time

In [ ]:
principle_amount = int(input('Enter the principle amt : '))
roi = float(input('Enter the ROI (with %) : '))/100
time = int(input('Enter the time period in year : '))
print()


def si(principle_amount,roi,time) : 
    return (principle_amount * roi * time)


si = si(principle_amount,roi,time)

---
### Question 4 

* Check the number odd or even

In [10]:
num = int(input('Enter the number : '))
print()

def check_odd_even(num) : 
    
    if num % 2 == 0 : 
        return 'number is even !'
    
    else : return 'number is odd'



answer = check_odd_even(num)

print(answer)

Enter the number : 56

number is even !

---
### Question 5 : 

* Check number is divisible by 5 or not

In [11]:
num = int(input('Enter the number : '))
print()

def check_5(num) : 
    
    if num % 5 == 0 : 
        return 'number is div by 5 !'
    
    else : return 'number is not div by 5'



answer = check_5(num)

print(answer)

Enter the number : 45

number is div by 5 !

--- 
### Question 6

* Check year is leap year or not
* An year is said to be leap year if it divisible by 4 and not divisible by 100,
  with an exception that it is divisible by 400.

In [17]:
year = int(input('Enter the year : '))

def check_leap(year) :
     
    #logic
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 : 
        return f"{year} is leap year"
    
    else : 
        return f"{year} is not leap year"
    
    
    

print(check_leap(year))

Enter the year : 1996
1996 is leap year

--- 
### Question 7 : Print the number of days in a month for particular year
    

         Take the number value of month  as input and display numbers of days in it
         logic :
        1	January   Jan	31
        2	February  Feb	28 (29 in leap years)
        3	March     Mar	31
        4	April     Apr	30
        5	May       May	31
        6   June      Jun	30
        7	July      Jul	31
        8	August    Aug	31
        9	September Sep	30
        10	October   Oct	31
        11	November  Nov	30
        12	December  Dec	31

In [23]:
month = int(input('Enter the month (1-12) : '))
year =  int(input('Enter the year : '))


months_31  = [1,3,5,7,8,10,12]

def check_leap(year) :
     
    #logic
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 : 
        return True
    
    else : 
        return False

def check_month_days(month,year) : 
    
    if month in months_31 :
        return f"{month} month has 31 days"
    
    elif month == 2 : 
        
        #check if leap year or not         
        if check_leap(year) : 
            
            return f"{month} month has 29 days"
        
        else : return f"{month} month has 28 days"
        
    else : f"{month} month has 30 days"

check_month_days(month,year)

Enter the month (1-12) : 2
Enter the year : 2023

'2 month has 28 days'

---
### Question 8 : 

* Find the greatest amoung 3 number

In [31]:
numbers  = input("Enter the 3 numbers : ")

numbers = [int(num) for num in numbers.split(',')]

# approach 1 
def find_greater_number(numbers) : 
    
    numbers.sort(reverse =  True)
    
    return numbers[0]


# approach 2
def find_greater_number(numbers) : 
    
    high = numbers[0]
    for num in numbers[1:] : 
        if num > high : 
            high = num 
    
    return high


find_greater_number(numbers)

Enter the 3 numbers : 5,6,3

6

--- 
### Question 9 : 

* Print 3 words in dictionary order

In [ ]:
# approach 1 : 

w1 = input("Enter the 1st word :")
w2 = input("Enter the 2nd word :")
w3 = input("Enter the 3rd word :")

# get the min of 3 words 
x= min(w1,w2,w3)

if x == w1 : 
    print(x, min(w2,w3),max(w2,w3))
    
elif x == w2 : 

    print(x, min(w1,w3),max(w1,w3))
else : 
    print(x, min(w2,w1),max(w1,w2))

In [ ]:
# approach 2 : 
words = list(input('Enter the words (comma seperated) : ').split(','))
words.sort()

--- 
### Question 10 : 

* first 10 natural numbers : 
* first 10 natural numbers in reverse order :

In [91]:

print('First 10 natural numbers : ')
for i in range(1,11) : 
    print(i, end =' ')
    

print('\n')
print('First 10 natural numbers in reverse order : ')
for i in range(10,0,-1) :
    print(i,end =' ')

First 10 natural numbers :
1 2 3 4 5 6 7 8 9 10

First 10 natural numbers in reverse order :
10 9 8 7 6 5 4 3 2 1

--- 
### Question 11 : 

* first 10 even  numbers : 
* first 10 odd numbers :

In [123]:
#even
print('First 10 even numbers :')
i = 1
a = 2
while i <= 10 :  
    print(a,end =' ')
    a+=2
    i+=1
    
print('\n')


#odd 
print('First 10 odd numbers :')
i = 1
a = 1
while i <= 10 :  
    print(a,end =' ')
    a+=2
    i+=1
print()

First 10 even numbers :
2 4 6 8 10 12 14 16 18 20

First 10 odd numbers :
1 3 5 7 9 11 13 15 17 19

---
### Question 12 :

* first N natural numbers :

In [109]:
num = int(input('Enter the Number : '))
print([i for i in range(1,num+1)])


# reverse order
num = int(input('Enter the Number : '))
[i for i in range(num,0,-1)]

Enter the Number : 5
[1, 2, 3, 4, 5]
Enter the Number : 5

[5, 4, 3, 2, 1]

---
### Question 13 : 

* Print Sum of n Natural number :

In [115]:
# approach 1 : 
num = int(input('Enter the Number : '))

add = 0
for  i in range(1,num+1) : 
    add = add + i
print(f"Sum of first {num} numbers = {add}")



# approach 2 : sum of all natural numbers : n * (n+1)/2

print(f"Sum of first {num} numbers = {(num*(num+1))/2}")

Enter the Number : 5
Sum of first 5 numbers = 15
Sum of first 5 numbers = 15.0

---
### Questions 14 : 

* Print Sum of first N odd numbers :

In [130]:
num = int(input('Enter the number : '))

i = 1
add = 0
while num > 0  : 
    add += i
    i+=2
    num -=1

print(f"Sum of first {num} odd numbers = {add}")

Enter the number : 10
Sum of first 0 odd numbers = 100

---
### Questions 15  : 

1. Factorial of a number : using loop

In [143]:
n = int(input('Enter the number : '))

def fact(n) : 
    
    a = 1
    #edge case : 
    if n < 0 : 
        return None
    
    for i in range(1,n+1) : 
        a = a * i
        
    return a



print(f"Factorial of {n} using loop = {fact(n)}")

Enter the number : 5
Factorial of 5 using loop = 120

2. Factorial of a number : using recursion

In [144]:
n = int(input('Enter the number : '))

def fact(n) : 
    
    #edge case : 
    if n < 0 : 
        return None
    
    #base logic : 
    if n <= 1 : 
        return 1
    
    else : 
        ans =  n*fact(n-1)
        return ans


print(f"Factorial of {n} using recursion = {fact(n)}")

Enter the number : 5
Factorial of 5 using recursion = 120

---
### Questions 16  : 

* Calculate product of first 10 odd numbers :

In [150]:
num = 10 
i = 1

product = 1

while num > 0 : 

    product *= i
    
    i += 2
    num-=1
    
print(f"Product of first 10 odd numbers = {product}")

Product of first 10 odd numbers = 654729075